# Build outputs
Win32/
Win64/
Debug/
Release/

# Compiled units
*.dcu
*.exe
*.dll
*.bpl
*.dcp

# Delphi IDE junk
*.identcache
*.local
*.stat
*.dres
*.vlb
*.tvsconfig
*.rc
*.res

# Backup/history
__history/
__recovery/
*.~*
